@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px #1c1d1f;
  }
}

@media (prefers-color-scheme: dark) {
  /* 다크모드일 경우 색상 */
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url("/fonts/NanumSquareNeo-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url("/fonts/NanumSquareNeo-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "NanumSquareNeo", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.SignInput {
  @apply w-full h-8 bg-transparent border-b-2 border-black text-black pl-10 placeholder-black outline-none focus:border-[#F74D66];
}

.SignButton {
  @apply mt-3 w-1/2 py-2 rounded-full bg-[#FEEDEF] border border-black text-sm font-medium uppercase tracking-wider;
}

.SingTogglebtn {
  @apply block text-center py-3 text-sm text-black uppercase bg-[#D7C9FF] hover:bg-[#999999] transition-colors duration-300;
}

.PokeGachaCard {
  @apply bg-white w-28 h-auto p-2 rounded-3xl hover:opacity-70 border border-[#F1F1F1] shadow-md
  flex flex-col justify-center items-center space-y-4 cursor-pointer;
}

.PokeGachaCardCoinBox {
  @apply flex items-center justify-center gap-0.5
  bg-[#F5F5F5] w-14 h-8 rounded-3xl;
}

.PokeGachaCardCoinText {
  @apply text-[#999999];
}

.PokeGachaCardCoinImg {
  @apply w-4 h-4;
}

.PokeGachaCardBallImg {
  @apply h-20 w-20;
}

.PokeGachaCardRankText {
  @apply font-semibold text-[#F74D66] text-2xl;
}

.HomeText {
  @apply text-[#1C1D1F] text-4xl font-bold;
}

.HomeTextDiv {
  @apply flex justify-center mt-72;
}

.HomeAboutMeInfo {
  @apply flex flex-col justify-center space-y-1;
}
.HomeAboutMeIcon {
  @apply w-5 h-5 fill-[#1C1D1F];
}
.HomeAboutMeIconText {
  @apply text-sm;
}

.projectBox {
  @apply mt-20 mb-20 gap-y-4 px-2 flex flex-col items-center justify-center;
}

.projectBgBox {
  @apply w-full h-auto bg-[#ffffff] rounded-xl drop-shadow-lg px-4 py-1 border border-[#1C1D1F];
}

.projectTitle {
  @apply w-44 h-8 bg-[#BC99FF] rounded-lg flex items-center justify-center 
  border border-[#1C1D1F];
}
.projectTitleText {
  @apply text-sm font-bold;
}
.projectDateText {
  @apply text-xs text-[#878787] mt-2;
}
.dividingLine {
  @apply mt-2 w-auto h-[1px] bg-[#878787];
}

.descriptionBox {
  @apply w-auto h-[420px] px-4 mt-8;
}
.descriptionBoxText {
  @apply text-base font-bold;
}

.projectButton {
  @apply flex flex-row items-center gap-2 mt-6;
}

.projectButtonBg {
  @apply w-2 h-4 bg-[#585D7C];
}

.projectSkillsBg {
  @apply mt-6 w-auto h-8 rounded-lg bg-[#E0FE6A] border border-[#1C1D1F]
  flex items-center;
}

.projectSkillsText {
  @apply text-xs ml-4;
}
.HomeSkillsComponent {
  @apply p-2 rounded-lg border border-[#1C1D1F] text-sm;
}

.SkillsBg {
  @apply bg-white w-auto h-auto rounded-xl drop-shadow-lg space-y-4 border border-[#1C1D1F]
  flex flex-col justify-center p-6;
}

.SkillsComponentBox {
  @apply flex flex-wrap gap-x-1 gap-y-1;
}

.SkillsLine {
  @apply flex flex-col items-start gap-y-1;
}

.pokeCardBg {
  @apply flex flex-col justify-center items-center p-2 gap-y-2
  w-full h-full bg-white
  rounded-lg cursor-pointer;
}

.pokeCardnumber {
  @apply font-bold text-xl;
}

.pokeCardImgBox {
  @apply bg-white rounded-lg w-24 h-24;
}

.pokeCardImg {
  @apply w-full h-full object-contain p-2;
}

.pokeCardName {
  @apply font-bold text-sm;
}

.pokeCardType {
  @apply bg-[#F5F5F5] p-1 w-10 h-auto flex flex-col items-center justify-center rounded-2xl gap-1;
}

.pokeCardTypeImg {
  @apply w-4 h-4;
}

.pokeCardTypeText {
  @apply text-[10px] text-[#999999];
}

@screen tablet {
  .SignButton {
    @apply w-full text-lg mt-5;
  }
  .SingTogglebtn {
    @apply py-5 text-base;
  }
  .PokeGachaCard {
    @apply w-32 p-4;
  }
  .PokeGachaCardCoinBox {
    @apply w-16 gap-1;
  }
  .PokeGachaCardCoinText {
    @apply text-lg;
  }
  .PokeGachaCardCoinImg {
    @apply w-6 h-6;
  }
  .PokeGachaCardBallImg {
    @apply h-24 w-24;
  }
  .HomeText {
    @apply text-6xl;
  }
  .HomeAboutMeIconText {
    @apply text-lg;
  }

  .projectBox {
    @apply px-8;
  }
  .projectTitle {
    @apply w-[300px] h-12;
  }
  .projectTitleText {
    @apply text-2xl;
  }
  .projectDateText {
    @apply text-lg;
  }

  .descriptionBox {
    @apply px-8;
  }

  .descriptionBoxText {
    @apply text-lg;
  }

  .projectSkillsText {
    @apply text-sm;
  }
  .SkillsBg {
    @apply p-10;
  }

  .SkillsLine {
    @apply flex-row gap-2;
  }

  .pokeCardnumber {
    @apply text-2xl;
  }
  .pokeCardImgBox {
    @apply w-36 h-36;
  }
  .pokeCardName {
    @apply text-base;
  }

  .pokeCardType {
    @apply flex-row w-[72px];
  }

  .pokeCardTypeImg {
    @apply w-6 h-6;
  }

  .pokeCardTypeText {
    @apply text-xs;
  }
}

@screen desktop {
  .PokeGachaCard {
    @apply w-36;
  }

  .projectBox {
    @apply flex-row gap-4 px-40;
  }

  .pokeCardBg {
    @apply py-6;
  }

  .pokeCardImgBox {
    @apply w-44 h-44;
  }

  .pokeCardImg {
    @apply p-4;
  }
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
